1. Explain the key features of Python that make it a popular choice for programming.


>> Python is a highly popular programming language known for its simplicity and versatility. Here are some key features that contribute to its popularity:
* Free and Open Source.
* Easy to code. 
* Easy to Read. 
* Object-Oriented Language. 
* GUI Programming Support.
* High-Level Language.
* Large Community Support.
* Easy to Debug.

2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program.


>> Python Keywords are some predefined and reserved words in Python that have special meanings. Keywords are used to define the syntax of the coding. The keyword cannot be used as an identifier, function, or variable name. All the keywords in Python are written in lowercase except True and False.
* Here is a list of some of the most commonly used Python keywords and examples of how they are used in a program:

In [1]:
   # if, elif, else:
   # Used for conditional statements to control the flow of the program.
x = 10
if x > 0:
    print("x is positive")
elif x == 0:
    print("x is zero")
else:
    print("x is negative")

x is positive

In [5]:
  # for, while, break, continue:
  # Used for creating loops. for is used for iterating over sequences, while while runs as long as a condition is true. break exits the loop, and continue skips the rest of the current loop iteration.
for i in range(5):
    if i == 3:
        break
    print(i)

i = 0
while i < 5:
    i += 1
    if i == 3:
        continue
    print(i)

0
1
2
1
2
4
5

3. Compare and contrast mutable and immutable objects in Python with examples.


>> MUTABLE OBJECTS:-
   Mutable objects are those whose state or contents can be changed after they are created. Common examples of mutable objects include lists, dictionaries, sets, and custom objects.

In [6]:
# LIST:
my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]

In [7]:
my_list[0] = 10
print(my_list)

[10, 2, 3]

In [8]:
# Dictionary:
my_dict = {'a': 1, 'b': 2}
print(my_dict)

{'a': 1, 'b': 2}

In [9]:
my_dict['a'] = 10
print(my_dict)

{'a': 10, 'b': 2}

In [10]:
# Set:
my_set = {1, 2, 3}
print(my_set)

{1, 2, 3}

In [11]:
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

>> IMMUTABLE OBJECTS:-
   Immutable objects are those whose state or contents cannot be changed after they are created. Common examples of immutable objects include strings, tuples, and numbers (integers,        floats, etc.)

In [12]:
# String:
name_1 = "Aarun" 
name_1[0] = 'T'

TypeError: 'str' object does not support item assignment

In [13]:
# Tuple:
tuple = ("Meredith", "Levi", "Wright", "Franklin")
tuple[1]= "Kristen"
print(tuple)

TypeError: 'tuple' object does not support item assignment

4. Discuss the different types of operators in Python and provide examples of how they are used.


>> Python supports a variety of operators that perform operations on variables and values. These operators are categorized based on the type of operation they perform.

1. Arithmetic Operators
 Arithmetic operators perform mathematical operations.

In [15]:
# Addition:-
x = 10
y = 5
result = x + y
print(result)

15

In [16]:
# Subtraction:-
x = 10
y = 5
result = x - y
print(result)

5

In [17]:
# Multiplication:-
x = 10
y = 5
result = x * y
print(result)

50

In [18]:
# Division:-
x = 10
y = 5
result = x/y
print(result)

2.0

In [19]:
# Floor Division:-
x = 10
y = 5
result = x//y
print(result)

2

In [21]:
# Modulus:-
x = 10
y = 5
result = x%y
print(result)

0

In [22]:
# Exponentiation:-
x = 10
y = 5
result = x**y
print(result)

100000

2. Comparison Operators
   Comparison operators compare two values and return a boolean result.

In [23]:
# Equal to:-
x = 10
y = 5
result = x==y
print(result)

False

In [24]:
# Not equal to:-
x = 10
y = 5
result = x!=y
print(result)

True

In [25]:
# Greater than:-
x = 10
y = 5
result = x>y
print(result)

True

In [26]:
# Less than:-
x = 10
y = 5
result = x<y
print(result)

False

In [27]:
# Greater than or equal to:-
x = 10
y = 5
result = x>=y
print(result)

True

In [28]:
# Less than or equal to:-
x = 10
y = 5
result = x<=y
print(result)

False

3. Logical Operators
   Logical operators perform logical operations and return a boolean result.

In [29]:
# And:-
x = 10
y = 5
result = (x > y) and (x < 20)
print(result)

True

In [30]:
# Or:-
x = 10
y = 5
result = (x > y) or (x < 20)
print(result)

True

In [31]:
# Not:-
x = 10
y = 5
result = not(x < y)
print(result)

True

4. Assignment Operators
Assignment operators are used to assign values to variables.

In [32]:
# Assignment:-
x = 10

In [34]:
# add and assign:-
x =10
x +=10
print(x)

20

In [35]:
# subtract and assign:-
x =10
x -=10
print(x)

0

In [36]:
# multiply and assign:-
x =10
x *=10
print(x)

100

In [37]:
# divide and assign:-
x =10
x /=10
print(x)

1.0

In [38]:
# Floor divide and assign:-
x =10
x //=10
print(x)

1

In [39]:
# Modulus and assign:-
x =10
x %=10
print(x)

0

In [40]:
# Exponentiation and assign:-
x =10
x **=10
print(x)

10000000000

5. Bitwise Operators
   Bitwise operators perform bit-level operations on binary representations of    integers.

In [41]:
# AND (&):-
x = 5  
y = 3  
result = x & y 
print(result)

1

In [42]:
# OR (|):-
x = 5  
y = 3  
result = x|y 
print(result)

7

In [43]:
# XOR (^):-
x = 5  
y = 3  
result = x^y 
print(result)

6

In [46]:
# NOT (~):-
x = 5  
y = 3  
result1 = ~x
result2 = ~y
print(result1)
print(result2)

-6
-4

In [49]:
# Left Shift (<<):-
x = 5   
result = x<<2
print(result)

20

In [50]:
# Right Shift (>>):-
x = 5   
result = x>>2
print(result)

1

6. Membership Operators
   Membership operators check for membership in a sequence (like lists, strings, or tuples).

In [52]:
# In:-
my_list = [1, 2, 3, 4, 5]
result = 3 in my_list
print(result)

True

In [53]:
# Not In:-
my_list = [1, 2, 3, 4, 5]
result = 6 not in my_list
print(result)

True

5. Explain the concept of type casting in Python with examples.

>> Type casting in Python refers to converting one data type to another. This can be useful when you need to perform operations that require operands    of the same type or when you want to take advantage of specific features of different data types. Python provides several built-in functions to        facilitate type casting.

   Types of Type Casting
   Implicit Type Casting:
   Python automatically converts one data type to another without explicit instruction from the programmer. This typically occurs in expressions where    mixed data types are used.

   Explicit Type Casting:
   The programmer manually converts one data type to another using built-in functions.

In [11]:
# Implicit type casting
x = 10   
y = 3.5  

result = x + y 
print(result)  
print(type(result))  

# In this example, Python automatically converts the integer x to a float to match the type of y, allowing the addition to be performed safely.

13.5
<class 'float'>

In [2]:
# Explicit type casting

# 1. Integer to String:
x = 123
y = str(x)
print(y)  
print(type(y))

123
<class 'str'>

In [3]:
# 2. String to Integer:
x = "456"
y = int(x)
print(y)  
print(type(y))

456
<class 'int'>

In [4]:
# 3. Float to Integer:
x = 7.89
y = int(x)
print(y)  
print(type(y))

7
<class 'int'>

In [5]:
# 4. Integer to Float:
x = 100
y = float(x)
print(y)  
print(type(y))

100.0
<class 'float'>

In [6]:
# 5. String to Float:
x = "12.34"
y = float(x)
print(y)
print(type(y))

12.34
<class 'float'>

In [7]:
# 6. List to Tuple:
x = [1, 2, 3]
y = tuple(x)
print(y) 
print(type(y))

(1, 2, 3)
<class 'tuple'>

In [8]:
# 7. Tuple to List:
x = (4, 5, 6)
y = list(x)
print(y)  
print(type(y))

[4, 5, 6]
<class 'list'>

In [10]:
# 8. List to Set:
x = [1, 2, 2, 3]
y = set(x)
print(y) 
print(type(y))

{1, 2, 3}
<class 'set'>

In [12]:
# 9. String to List:
x = "hello"
y = list(x)
print(y) 
print(type(y))

['h', 'e', 'l', 'l', 'o']
<class 'list'>

6.  How do conditional statements work in Python? Illustrate with examples.

>> Conditional Statements are statements in Python that provide a choice for the control flow based on a condition. It means that the control flow of    the Python program will be decided based on the outcome of the condition.

In [13]:
# if statement:-
#if condition:
    # Statements to execute if
    # condition is true
if 10 > 5: 
    print("10 greater than 5") 
print("Program ended")

10 greater than 5
Program ended

In [14]:
# if else statement:-
#if (condition):
    # Executes this block if
    # condition is true
#else:
    # Executes this block if
    # condition is false
x = 3
if x == 4: 
    print("Yes") 
else: 
    print("No")

No

In [15]:
# Nested if else statement:-
letter = "A"
  
if letter == "B": 
    print("letter is B") 
  
else: 
  
    if letter == "C": 
        print("letter is C") 
  
    else: 
  
        if letter == "A": 
            print("letter is A") 
  
        else: 
            print("letter isn't A, B and C")

letter is A

In [16]:
# if elif else statement:-
letter = "A"
  
if letter == "B": 
    print("letter is B") 
  
elif letter == "C": 
    print("letter is C") 
  
elif letter == "A": 
    print("letter is A") 
  
else: 
    print("letter isn't A, B or C")

letter is A

7.  Describe the different types of loops in Python and their use cases with examples

>> There are two types of loops in python:-
   1. While Loop
   2. For Loop

In [18]:
# While Loop
# In Python, a while loop is used to execute a block of statements repeatedly until a given condition is satisfied. When the condition becomes false, the line immediately after the loop in the program is executed.
count = 0
while (count < 3):
    count = count + 1
    print("Physicswallah")

Physicswallah
Physicswallah
Physicswallah

In [20]:
# For Loop
# In Python, the for loop is used to iterate over a sequence (such as a list, tuple, string, or range) and execute a block of code for each item in the sequence. The for loop is versatile and can be used for various types of iteration.
n = 4
for i in range(0, n):
    print(i)

0
1
2
3